[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/lowRISC/rocket-chip
[submodule "src/OpenIP"]
	path = src/OpenIP
	url = https://github.com/lowRISC/OpenIP.git
[submodule "fpga/src/ariane-ethernet"]
	path = fpga/src/ariane-ethernet
	url = https://github.com/lowRISC/ariane-ethernet.git
[submodule "fpga/src/apb_uart"]
	path = fpga/src/apb_uart
	url = https://github.com/lowRISC/apb_uart.git
[submodule "fpga/src/spi_mem_programmer"]
	path = fpga/src/spi_mem_programmer
	url = https://github.com/jrrk/spi_mem_programmer.git
[submodule "lowrisc-quickstart"]
	path = lowrisc-quickstart
	url = https://github.com/lowRISC/lowrisc-quickstart.git
[submodule "buildroot-2019.11.1-lowrisc"]
	path = buildroot-2019.11.1-lowrisc
	url = https://github.com/lowrisc/buildroot.git
[submodule "ariane"]
	path = ariane
	url = https://github.com/pulp-platform/ariane.git
