[submodule "riscv-tools"]
	path = riscv-tools
	url = https://github.com/lowRISC/riscv-tools.git
[submodule "chisel"]
	path = chisel
	url = https://github.com/ucb-bar/chisel.git
[submodule "hardfloat"]
	path = hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "fpga"]
        path = fpga
        url = https://github.com/lowRISC/lowrisc-fpga.git
[submodule "rocket"]
	path = rocket
	url = https://github.com/lowrisc/rocket.git
[submodule "uncore"]
	path = uncore
	url = https://github.com/lowrisc/uncore.git
[submodule "socip"]
	path = socip
	url = https://github.com/lowrisc/socip.git
[submodule "junctions"]
	path = junctions
	url = https://github.com/lowrisc/junctions.git
