.*
!.gitignore
/reports
scripts/add_sources.tcl
vivado*
*.cache
*.hw
*.ip_user_files
*.sim
*.runs
*.srcs
*.xpr
*.mif
work-fpga
boot.bin
boot.bmm
boot.mem
bootrom.elf
bootrom.vlog
cnvmem
cnvmem.mem
search-ramb.log
xilinx/ariane_xlnx_ip.yml
webtalk.jou
